<div>


<h1 class="text-center bg-info">This Page is Under Construction</h1>
<h3 class="text-center bg-info ">Sorry for the inconvenience caused</h3>
<img src="/images/venarouc.jpg" class="img-fluid" alt="Responsive image">
<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
	Back to Home
</a>

</div>