@model IEnumerable<Venaro.Models.Clothes>


<div class="row pb-3">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@product.Image" class="card-img-top rounded" />

						<div class="card-body">
							<div class="pl-1">
								<span><p class="card-title h5 text-primary">@product.Name (@product.Category.Name.ToString())</p></span>
								@*<p class="card-title text-info">IsS <b>@product.IsSold</b></p>*@
								<div class="pl-1">
									<p class="h20 text-danger">Price: <strike><b>Rs.@product.ListPrice.ToString("0.00")</b></strike></p>
								</div>
								<p class=" h5 text-success">OfferPrice:<b>Rs.@product.Price</b></p>
							</div>
						</div>
					</div>
					<div>
							<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
				<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
					Back to List
					</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>